* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

body {
    font-family: 'Russo One', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.conteudo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    margin: auto;
    margin-top: 0;
    max-width: 1500px;
    width: 95vw;
    height: 95vh;
}

/* CABEÇALHO */
header {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    animation: header 1s linear;
}

.logo {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    text-align: center;
}

.logo img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.contato {
    position: relative;
    margin-left: auto;
    border-bottom: 3px solid white;
    transition: 1s;
}

.contato a {
    padding: 10px;
    font-size: 1.8rem;
}

#linkedin,
#github,
#email {
    transition: 1s;
}

#email:hover {
    color: #9aff9a;
    transform: rotate(360deg);
}

#github:hover {
    color: #753cfc;
    transform: rotate(360deg);
}

#linkedin:hover {
    color: #00a6ff;
    transform: rotate(360deg);
}

#nomeIcon {
    font-size: 1.3rem;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

/* SOBRE */
.sobre {
    position: relative;
    padding: 5px 15px;
    border-left: 5px solid #13119e;
    animation: borda 5s infinite alternate, sobreAnimacao 1.5s ease;
}

.textoSobre {
    max-width: 700px;
}

.sobre h2,
.sobre h3 {
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Chivo Mono', monospace;
}

.sobre h2 {
    font-size: 2.5rem;
    width: 17ch;
    animation: escrevendo 2s steps(17), piscar 0.5s infinite step-end alternate;
}

.sobre h3 {
    width: 36ch;
    animation: escrevendo 3s 2.2s steps(36), piscar 0.5s 2.2s infinite step-end alternate, aparecer 2.2s;
}

.sobre span {
    color: #0077ff;
}

.sobre p {
    font-size: 1.2rem;
}

.sobre img {
    height: 400px;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: movimento 1s ease-out alternate infinite;
}

.linkContato {
    position: relative;
    transition: 1s;
}

.linkContato:hover{
    transition: 1s;
    color: rgba(97, 255, 24, 0.822);
}

.linkContato::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: rgba(97, 255, 24, 0.822);
    transition: width 0.3s ease-in-out;
}

.linkContato:hover::after {
    width: 100%;
}

/* Projetos */
.btnEstilizado {
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 3px solid;
    position: relative;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    box-shadow: 0px 0px 50px #4b41db;
    animation: borda 2s infinite alternate;
}

.btnEstilizado:hover {
    animation-play-state: paused;
    color: #00ccff;
    box-shadow: 0px 0px 100px #4b41db;
    transition: 0.5s;
}

.btnEstilizado::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 3px solid white;
    border-radius: 10px;
    animation: pulsar 1.5s linear infinite;
    z-index: -5;
}

.botaoProj {
    animation: botaoProj 1.5s ease-in-out;
}

#voltarPrincipal {
    display: none;
    font-size: 1.2rem;
    padding: 10px 10px;
    margin: 0px 40px;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 5px;
    animation: borda 2s infinite alternate, projetosLeft 1s linear;
}

#voltarPrincipal:hover {
    color: #00ccff;
    box-shadow: 0px 0px 30px #4b41db;
    transform: scale(1.1);
    transition: 1s;
}

.opacidadeAnimada {
    animation: opacidade 1.5s linear forwards;
}

.animacaoVoltar {
    animation: diminuirLarguraDiv 1s ease forwards, diminuirAlturaDiv 1s 1s ease forwards;
}

.posicaoDivAnimada {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.proj {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5px;
    background-color: white;
    z-index: 10;
    display: none;
}

.animacaoProj {
    animation: aumentarAlturaDiv 0.6s ease forwards, aumentarLarguraDiv 0.7s 0.6s ease forwards;
}

#tituloPagProjetos {
    display: none;
    animation: projetosRight 1s linear;
}

.projetos {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    z-index: 999;
}

.projetosLeft {
    animation: projetosLeft 1s linear;
}

.projetosRight {
    animation: projetosRight 1s linear;
}

.projetos p {
    font-size: 1rem;
}

.conteudoProjeto {
    margin: 20px;
    padding: 20px;
}

.containerImgProj {
    width: 100%;
    height: 300px;
}

.containerImgProj img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 0.5rem solid #3e3892;
    border-left: 0.5rem solid #3e3892;
    border-radius: 20px;
    transition: 1s;
}

.containerImgProj img:hover {
    max-width: 100%;
    border-top: 8px solid #00ccff;
    border-left: 8px solid #00ccff;
    border-radius: 20px;
    transition: 1s;
    transform: scale(1.07);
}

.containerTextoProj {
    margin-top: 15px;
    padding: 13px;
    text-align: justify;
    height: 200px;
    overflow-y: auto;
}

.tecnologiasProj {
    color: #31b4ff;
}

.linksProj {
    font-size: 1.1rem;
}

#msgFinalProj {
    animation: footer 1.5s linear;
    display: none;
    padding-bottom: 50px;
}

#msgFinalProj a {
    font-size: 2rem;
}

#msgFinalProj a:hover {
    border-bottom: 4px white solid;
}

#msgFinalProj h2 {
    margin-bottom: 60px;
    font-size: 2.3rem;
}

.btnContato {
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 3px solid;
    position: relative;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    box-shadow: 0px 0px 50px #00ff00;
    animation: contatoBorda 1s infinite alternate;
}

.btnContato:hover {
    animation-play-state: paused;
    color: #00ff00;
    box-shadow: 0px 0px 100px #00ff00;
    transition: 0.5s;
}

.btnContato::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 3px solid white;
    border-radius: 10px;
    animation: contato 1.5s linear infinite;
    z-index: -5;
}

/* HABILIDADES */
.habilidades {
    margin-top: 60px;
    text-align: center;
    animation: habilidades 1.5s ease-in-out;
}

.containerIcons{
    display: grid;
    grid-template-columns: repeat(8, 120px);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.icons {
    display: inline-block;
    width: 100px;
}

.icons p {
    margin-top: 2px;
    font-size: 1.5rem;
    opacity: 0;
    transition: 1s;
}

.icons img:hover+p {
    opacity: 1;
    transition: 1s;
}

.habilidades img {
    filter: grayscale(100%);
    transition: 1s;
    height: 80px;
}

.habilidades img:hover {
    transform: scale(1.1);
    transition: 1s;
    filter: grayscale(0);
}

/* FOOTER */
footer {
    font-size: 17px;
    animation: footer 1.5s linear;
}

footer h5 {
    font-size: 18px;
}

/* RESPONSIVIDADE */
@media screen and (max-width:1150px) {
    html {
        font-size: 14px;
    }

    .textoSobre {
        max-width: 600px;
    }

    .sobre img {
        left: 85%;
        height: 290px;
    }

    .containerIcons{
        grid-template-columns: repeat(8, 90px);
    }

    .icons {
        width: 90px;
    }
    
    .icons img {
        height: 70px;
    }

    .containerTextoProj p {
        font-size: 1.1rem;
    }
}


@media screen and (max-width:1000px) {
    .projetos {
        grid-template-columns: 1fr;
    }

    .conteudoProjeto {
        padding: 0px 50px 50px 50px;
    }

    .linksProj{
        font-size: 1.3rem;    
    }

    .containerIcons{
        grid-template-columns: repeat(8, 80px);
    }
}

@media screen and (max-width:900px) {
    .textoSobre {
        font-size: 1.2rem;
        max-width: 650px;
    }

    .sobre img {
        display: none;
    }

    #mostrarProj{
        margin-left: 10px;
    }

    footer{
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    .logo{
        width: 40px;
        height: 40px;
    }

    .conteudoProjeto{
        padding: 0;
    }

    .textoSobre {
        max-width: 520px;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 90px);
    }

    .containerImgProj {
        height: 200px;
    }

    #msgFinalProj h2{
        margin-top: 50px;
        font-size: 1.8rem;
    }
    #msgFinalProj a{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 530px) {

    html{
        font-size: 13px;
    }

    .textoSobre {
        width: 100% ;
    }

    #tituloPagProjetos{
        margin-top: 30px;
    }

    .icons img {
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    header{
        margin-bottom: 30px;
    }

    .textoSobre p{
        font-size: 1.2rem;
    }
    
    .sobre h3{
        animation: none;
        white-space: normal;
        border: none;
        width: auto;
    }

    .linkContato{
        border-bottom: 4px solid rgba(97, 255, 24, 0.822);
    }

    .linkContato::after{
        display: none;
    }

    footer{
        font-size: 13px;
    }

    footer h5 {
        font-size: 16px;
    }
    

    ::-webkit-scrollbar {
        width: 5px;
    }
}

@media screen and (max-width: 400px) {
    html{
        font-size: 12px;
    }

    .textoSobre p{
        font-size: 1.4rem;
    }

    .habilidades h2{
        font-size: 1.7rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 60px);
    }

    .icons img {
        height: 50px;
    }

    .containerImgProj {
        height: 150px;
    }

    .containerTextoProj{
        margin-top: 8px;
    }

    .conteudoProjeto{
        margin: 0;
        padding: 0 10px 0 10px;
    }
}


@media screen and (max-width: 350px) {
    html{
        font-size: 10px;
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    .textoSobre p{
        font-size: 1.4rem;
    }

    .habilidades h2{
        font-size: 1.7rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 60px);
    }

    .icons img {
        height: 45px;
    }
}

@media screen and (max-width: 310px) {
    html{
        font-size: 10px;
    }

    header{
        padding: 10px 0 10px 0;
    }

    .logo{
        width: 30px;
        height: 30px;
    }

    .textoSobre p{
        font-size: 1.4rem;
    }
    
    .habilidades{
        margin-top: 30px;
    }

    .habilidades h2{
        font-size: 1.7rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 60px);
    }

    .icons img {
        height: 45px;
    }

    .linksProj{
        padding: 10px;
    }

    #voltarPrincipal{
        margin: auto;
    }

    #msgFinalProj h2{
        margin: 30px 0 40px 0 ;
    }

    .btnContato{
        padding: 10px;
    }

    footer{
        font-size: 10px;
    }

    footer h5 {
        font-size: 13px;
    }
}

@media screen and (max-width: 290px) {
    html{
        font-size: 9px;
    }

    .logo{
        width: 28px;
        height: 28px;
    }

    .containerImgProj {
        height: 100px;
    }

    .habilidades h2{
        font-size: 1.8rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 50px);
    }

    .icons img {
        height: 40px;
    }

    .linksProj{
        padding: 8px;
    }

    .containerTextoProj {
        height: 100px;
    }
}

@media screen and (max-width: 260px) {
    html{
        font-size: 7px;
    }

    .contato {
        border-bottom: 2px solid white;
    }

    .logo{
        width: 25px;
        height: 25px;
    }

    .habilidades h2{
        font-size: 2rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 40px);
    }

    .icons img {
        height: 35px;
    }

    .linksProj{
        padding: 8px;
    }
}

@media screen and (max-width: 225px) {
    html{
        font-size: 6px;
    }

    .sobre {
        border-left: 4px solid #13119e !important;
    }

    .logo{
        width: 22px;
        height: 22px;
    }

    #mostrarProj{
        padding: 7px;
    }

    .containerImgProj {
        height: 60px;
    }

    .habilidades h2{
        font-size: 2rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 35px);
    }

    .icons img {
        height: 30px;
    }

    .linksProj{
        padding: 8px;
        display: block;
        margin: 10px 0 0 0 !important;
    }

    footer{
        font-size: 7px;
    }

    footer h5 {
        font-size: 10px;
    }
}

@media screen and (max-width: 205px) {
    html{
        font-size: 5px;
    }

    .logo{
        width: 20px;
        height: 20px;
    }

    .habilidades h2{
        font-size: 2.1rem;
    }

    .containerIcons{
        grid-template-columns: repeat(4, 30px);
    }

    .icons img {
        height: 25px;
    }

    footer{
        font-size: 5px;
    }

    footer h5 {
        font-size: 7px;
    }
}

/* ANIMAÇÃO */

@keyframes header {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes footer {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes borda {
    0% {
        border-color: #00ccff;
    }

    100% {
        border-color: #4d00b3;
    }
}

@keyframes escrevendo {
    0% {
        width: 0;
    }
}

@keyframes piscar {
    50% {
        border-color: transparent;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulsar {
    0% {
        transform: scale(0.9);
        opacity: 0;
        border-color: #00ccff;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
        border-color: #4d00b3;
    }
}

@keyframes contatoBorda {
    0% {
        border-color: #eeff00;
    }

    100% {
        border-color: #00ff00;
    }
}

@keyframes contato {
    0% {
        transform: scale(0.9);
        opacity: 0;
        border-color: #00ff00;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
        border-color: #00ff00;
    }
}

@keyframes sobreAnimacao {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes botaoProj {
    0% {
        opacity: 0;
        transform: translateX(130px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes habilidades {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }

    50% {
        transform: translate(0, 80px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes aumentarAlturaDiv {
    0% {
        height: 0vh;
        opacity: 0;
    }

    100% {
        height: 100%;
        top: 0;
        opacity: 1;
    }
}

@keyframes aumentarLarguraDiv {
    0% {
        width: 5px;
        opacity: 0;
    }

    100% {
        width: 100%;
        left: 0;
        background-color: black;
        opacity: 1;
    }
}

@keyframes diminuirAlturaDiv {
    0% {
        height: 100%;
        width: 5px;
        opacity: 1;
        background-color: white;
    }

    100% {
        height: 0;
        opacity: 0;
        top: 50%;
    }
}

@keyframes diminuirLarguraDiv {
    0% {
        opacity: 0;
        background-color: white;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        width: 5px;
        opacity: 0;
        left: 50%;
    }
}

@keyframes opacidade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes projetosLeft {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes projetosRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes movimento {
    0% {

        transform: translate(-50%, -45%);
    }

    100% {
        transform: translate(-50%, -55%);
    }
}