* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0 ! important
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.conteudo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    margin: auto;
    max-width: 1500px;
    width: 95vw;
    height: 95vh;
}

/* CABEÇALHO */
header {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    animation: header 1s linear;
}

.logo {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    text-align: center;
    background-color: blue;
}

.contato {
    position: relative;
    margin-left: auto;
    border-bottom: 3px solid white;
    transition: 1s;
}

.contato a {
    padding: 10px;
    font-size: 1.8rem;
}

#linkedin,
#github,
#email {
    transition: 1s;
}

#email:hover {
    color: #9aff9a;
    transform: rotate(360deg);
}

#github:hover {
    color: #753cfc;
    transform: rotate(360deg);
}

#linkedin:hover {
    color: #00a6ff;
    transform: rotate(360deg);
}

#nomeIcon {
    font-size: 1.3rem;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

/* SOBRE */
.sobre {
    max-width: 700px;
    position: relative;
    padding: 5px 15px;
    border-left: 5px solid #13119e;
    animation: borda 5s infinite alternate, sobreAnimacao 1.5s ease;
}

.sobre h2,
.sobre h3 {
    border-right: 4px solid white;
    white-space: nowrap;
    overflow: hidden;
}

.sobre h2 {
    font-family: monospace;
    font-size: 2.5rem;
    width: 17ch;
    animation: escrevendo 2s steps(17), piscar 0.5s infinite step-end alternate;
}

.sobre h3 {
    font-family: monospace;
    width: 36ch;
    animation: escrevendo 3s 2.2s steps(36), piscar 0.5s 2.2s infinite step-end alternate, aparecer 2.2s;
}

.sobre span {
    color: #0077ff;
}

.sobre p {
    font-size: 1.2rem;
}

.linkContato {
    position: relative;
}

.linkContato::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: rgba(97, 255, 24, 0.822);
    transition: width 0.3s ease-in-out;
}

.linkContato:hover::after {
    width: 100%;
}

/* Projetos */
.btnEstilizado {
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 3px solid;
    position: relative;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    box-shadow: 0px 0px 50px #4b41db;
    animation: borda 2s infinite alternate;
}

.btnEstilizado:hover {
    animation-play-state: paused;
    color: #00ccff;
    box-shadow: 0px 0px 100px #4b41db;
    transition: 0.5s;
}

.btnEstilizado::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 3px solid white;
    border-radius: 10px;
    animation: pulsar 1.5s linear infinite;
    z-index: -5;
}

.botaoProj {
    animation: botaoProj 1.5s ease-in-out;
}

#voltarPrincipal {
    display: none;
    font-size: 1.2rem;
    padding: 10px 10px;
    margin: 0px 40px;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 5px;
    animation: borda 2s infinite alternate, projetosLeft 1s linear;
}

#voltarPrincipal:hover {
    color: #00ccff;
    box-shadow: 0px 0px 30px #4b41db;
    transform: scale(1.1);
    transition: 1s;
}

.opacidadeAnimada{
    animation: opacidade 1.5s linear forwards;
}

.animacaoVoltar {
    animation: diminuirLarguraDiv 0.6s ease-in forwards, diminuirAlturaDiv 1s 0.6s  ease forwards;
}

.posicaoDivAnimada{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.proj {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5px;
    background-color: white;
    z-index: 10;
    display: none;
}

.animacaoProj {
    animation: aumentarAlturaDiv 0.6s ease forwards, aumentarLarguraDiv 0.7s 0.6s ease forwards;
}

.projetos {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    z-index: 999;
}

.projetosLeft {
    animation: projetosLeft 1s linear;
}

.projetosRight {
    animation: projetosRight 1s linear;
}

.projetos p {
    font-size: 1rem;
}

.conteudoProjeto {
    margin: 20px;
    padding: 20px;
}

.conteudoProjeto img {
    max-width: 100%;
    border-top: 0.5rem solid #3e3892;
    border-left: 0.5rem solid #3e3892;
    border-radius: 20px;
    transition: 1s;
}

.conteudoProjeto img:hover {
    max-width: 100%;
    border-top: 8px solid #0004ff;
    border-left: 8px solid #0004ff;
    border-radius: 20px;
    transition: 1s;
    transform: scale(1.07);
}

.tecnologiasProj {
    color: #31b4ff;
}

.linksProj {
    font-size: 1.1rem;
}

/* HABILIDADES */
.habilidades {
    margin-top: 60px;
    text-align: center;
    animation: habilidades 1.5s ease-in-out;
}

.icons {
    display: inline-block;
}

.icons p {
    margin-top: 2px;
    font-size: 1.5rem;
    opacity: 0;
    transition: 1s;
}

.icons img:hover+p {
    opacity: 1;
    transition: 1s;
}

.habilidades img {
    filter: grayscale(100%);
    transition: 1s;
    height: 80px;
}

.habilidades img:hover {
    transform: scale(1.1);
    transition: 1s;
    filter: grayscale(0);
}

/* FOOTER */
footer {
    animation: footer 1.5s linear;
}

/* ANIMAÇÃO */

@keyframes header {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes footer {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes borda {
    0% {
        border-color: #00ccff;
    }

    100% {
        border-color: #4d00b3;
    }
}

@keyframes escrevendo {
    0% {
        width: 0;
    }
}

@keyframes piscar {
    50% {
        border-color: transparent;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulsar {
    0% {
        transform: scale(0.9);
        opacity: 0;
        border-color: #00ccff;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
        border-color: #4d00b3;
    }
}

@keyframes sobreAnimacao {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes botaoProj {
    0% {
        opacity: 0;
        transform: translateX(130px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes habilidades {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }

    50% {
        transform: translate(0, 80px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes aumentarAlturaDiv {
    0% {
        height: 0vh;
        opacity: 0;
    }

    100% {
        height: 100%;
        top: 0;
        opacity: 1;
    }
}

@keyframes aumentarLarguraDiv {
    0% {
        width: 5px;
        opacity: 0;
    }

    100% {
        width: 100%;
        left: 0;
        background-color: black;
        opacity: 1;
    }
}

@keyframes diminuirAlturaDiv {
    0% {
        height: 100%;
        width: 5px;
        opacity: 1;
        background-color: white;
    }

    100% {
        height: 0;
        opacity: 0;
        top: 50%;
    }
}

@keyframes diminuirLarguraDiv {
    0% {
        opacity: 0;
        background-color: white;
    }

    50%{
        opacity: 0.5;
    }

    100% {
        width: 5px;
        opacity: 0;
        left: 50%;
    }
}

@keyframes opacidade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes projetosLeft {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes projetosRight {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}